{extend name="layout" /}
{block name="left"}
    <script src="home_js/jquery.textSlider.js"></script>
    <script>
        $(function(){
            $(".alert").textSlider();
        })
    </script>

    {volist name="indexdata.articles" id="indexart" empty="暂无文章"}
        <article onclick="location.href='{:url('Article/index',['id'=>$indexart['art_id']])}';">
            <h5>
                <i class="iconfont icon-comment" style="font-size: 25px;"></i>
                <a href="{:url('Article/index',['id'=>$indexart['art_id']])}">{$indexart.art_title}</a>
            </h5>
            <div class="clearfix" >
                <div class="article-remark">
                    <div class="article-css3">
                        <img class="article-css3_img" src="{$indexart.art_img}" alt="Image 01">
                        <div class="article-css3_caption">
                            <p class="article-css3_caption_p" >{$indexart.art_author}</p>
                            <a class="article-css3_caption_a" href="{:url('Article/index',['id'=>$indexart['art_id']])}" target="_blank"></a>
                        </div>
                    </div>
                    <div  style="word-break: break-all;word-wrap: break-word;width: 61%;height:168px;overflow: hidden;float: right;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 6;-webkit-box-orient: vertical;">
                        {$indexart.art_remark}
                    </div>
                </div>
                <footer class="article-footer">
                    <div class="article-footer-l">
                        <i class="iconfont icon-tags"></i>{$indexart.art_keyword|getKeyword}
                    </div>
                    <div class="article-footer-r">
                        <i class="iconfont icon-author"></i>&nbsp;{$indexart.art_author}&nbsp;
                        <i class="iconfont icon-time"></i>&nbsp;&nbsp;{$indexart.art_addtime|date='Y-m-d H:i',###}&nbsp;&nbsp;
                        <i class="iconfont icon-hit"></i>{$indexart.art_hit}&nbsp;
                        <i class="iconfont icon-gustcomment"></i> {$indexart.nums|getNums}
                    </div>
                </footer>
            </div>
        </article>
    {/volist}
{/block}